/* BODY */
body {
    margin: 0;
    background-image: url("background.jpg");
}

/* HEADER */
header {
    margin: 100px 10px 100px 100px;
    font-size: 40px;
    color: blue;
    border: 10px solid black;
    border-radius: 15px;
    background-color: #000099;
}

/* NAVIGATION */
nav {
    width: 15%;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    border: 3px solid black;
    border-radius: 55px;
}

nav ul {
    margin: 0px;
    background-image: url("test.png");
    background-size: cover;
}

nav ul li{
    list-style-type: none;
    font-size: 20px;
}

nav ul li a {
    color: black;
}

nav ul li a:hover {
    color: white;
}

nav ul li a:focus {
    color: white;
}

nav ul li a:active {
    color: #4F4FFF;
}

.active {
    font-weight: bold;
    font-size: 22px;
}

/* CONTENT */

/* Apparently using // as comments breaks everything, even though i used it before and it didnt... hmm */
#content {
    display: block;
    width: 75%;		/* -20% from the margin, -5% to give some distance */
    margin-left: 20%;	/* 15% from Nav + 5% to give some distance */
}

/* TODO: Find out why when i put the content of this block under content, everything breaks. */
#content p {
    padding: 2%;
    color: orange;
    font-size: 40px;
    border: 5px solid gray;
    border-radius: 15px;
    background-color: #EEE;
}
