html {
    position: relative;
    min-height: 100%;
}

/* BODY */
body {
    margin: 0 0 3rem;
    background: gray; /* For browsers that do not support gradients */
    background: linear-gradient(to top, gray, orange); /* Standard syntax */
    min-height: 100%;
}

/* HEADER */
header {
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 2px black;
    width: 100%;
    height: 20rem;
    background-color: #FFFFFF;
    background: url("../images/photo.jpg") center center;
    background-size: cover;
}

h1 {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* NAVIGATION */
nav {
    width: 100%;
    position: fixed;
    overflow: auto;
    border: 3px solid black;
    background: gray; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, gray, white); /* Standard syntax */
    text-align: center;
    z-index: 10; /* H1 was on top of the navbar */
}

nav ul {
    margin: 0px;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
}

nav ul li{
    list-style-type: none;
    font-size: 20px;
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
}

nav ul li a {
    color: black;
}

nav ul li a:hover {
    color: white;
}

nav ul li a:focus {
    color: white;
}

nav ul li a:active {
    color: #4F4FFF;
}

/* Class for currently active link */
.active {
    font-weight: bold;
    font-size: 22px;
}

/* CONTENT */

/* Apparently using // as comments breaks everything, even though i used it before and it didnt... hmm */
#content {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #808080;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Class for posts */
.post {
    padding: 1px 30px 5px 30px;
    color: orange;
    font-size: 2rem;
    margin: 0 10px 30px 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: #EEE;
    word-wrap: break-word;
}

.post h2 {
    text-align: center;
}

/* Footer */
footer {
    width: 100%;
    height: 3rem;
    background-color: #CCC;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer ul {
    margin: 0px;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer ul li{
    list-style-type: none;
    font-size: 13px;
    display: inline;
    padding-right: 5%;
    padding-left: 5%;    
}

footer ul li a {
    color: black;
}

footer ul li a:hover {
    color: white;
}

footer ul li a:focus {
    color: white;
}

footer ul li a:active {
    color: #4F4FFF;
}

/* Class for currently active link in footer*/
.activeFooter {
    font-weight: bold;
    font-size: 15px;
}

/* GENERIC CLASSES */
.centerImage {
    margin: 0 auto;
    display: block;
}

/* ERROR VALIDATION */
.error {
    color: red;
    font-size: 1.3rem;
}

input:focus, textarea:focus {
    background-color: #F7F7F7;
    color: blue;
}
